body{
    background-image: url(../assets/images/retro_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    padding: 0%;
    margin: 0;
    scrollbar-width: none;
}

/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.headshot{
    animation: fadeIn 2s ease-out;
    width: 500px;
    height: auto;
    top: 0;
    left: 50.5%;
    transform: translateX(-50.5%);
    position: absolute;
}

.about-text {
    text-align: center;
    margin-top: 350px;

}
.about-text div {
    display: block; /* Ensures each line is on its own line */
    color: rgb(0, 255, 81);

}



