@font-face{
    font-family: 'custom';
    src: url(../assets/fonts/Akira\ Expanded\ Demo.otf) format('opentype');
}

@font-face {
    font-family: 'paragraph';
    src: url(../assets/fonts/BebasNeue-Regular.woff) format('woff');
}

@font-face {
    font-family: 'paragraph2';
    src: url(../assets/fonts/LEMONMILK-Bold.otf) format('openType');
}



body{
    background-image: url(../assets/images/mario_bg.gif);
    /* background-image: url(../assets/images/white.jpg); */


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    padding: 0%;
    margin: 0;
    scrollbar-width: none;
}

#hi{
    font-family: 'custom';
    color: #B2EE9B;
}

@keyframes gradient2{
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}

.nested-about {
    font-family: 'paragraph';
    background-image: linear-gradient(to right,
        #FF6978,
        #B2EE9B,
        #38AECC,
        #66ff99,
        #DAFF7D,
        #2f00ff,
        #a200ff,
        #ff0040,
        #00ff6a,
        #f7b733,
        #FF6978 /* Duplicate the first color at the end */
    );
    background-size: 200% auto;
    color: transparent; /* Make the text transparent */
    background-clip: text; /* Clip the gradient to the text */
    -webkit-background-clip: text; /* For Safari */
    animation: gradient2 5s linear infinite;
    font-size: larger;
}




/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.headshot{
    animation: fadeIn 2s ease-out;
    width: 500px;
    height: auto;
    top: 0;
    left: 50.5%;
    transform: translateX(-50.5%);
    position: absolute;
}

.about-text {
    text-align: center;
    margin-top: 350px;

}
.about-text div {
    display: block; /* Ensures each line is on its own line */
    /* color: rgb(0, 255, 81); */

}



