@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/ScienceAndFiction.ttf') format('truetype'); /* Updated format to 'truetype' */
    font-family: 'spacefont';
    src: url('../assets/fonts/sofachrome\ rg.otf') format('openType')
    /* Add additional font formats if necessary */
}

@media only screen and (max-width: 600px) {
    /* CSS rules for screens smaller than 600px (e.g., mobile devices) */
}





 @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



h1{
    color: blue;
    font-family: 'spacefont', monospace; /* Added comma between font names */
    animation: fadeIn 2s ease-out;
}


  img {
    animation: fadeIn 2s ease-out;
    width: 60%; /* Set the maximum width to 50% of the container's width */
    height: auto;
     position: absolute;
    /* display: block; */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
}  

/* #retro1{
    animation: fadeIn 10s ease-out;
    width: 60%;
    height: auto;
    position: absolute;
    margin-top: 150px;
    left: 50%;
    transform: translateX(-50%) ;
} */

#retro2{
    animation: fadeIn 15s ease-in;
    width: 60%;
    height: auto;
    position: absolute;
    margin-top: 500px;
    left: 50%;
    transform: translateX(-50%);
}

#glowcan{
    width: 20%;
    height: auto;
    position: absolute;
    margin-top: 150px;
    left: 50;
    transform: translateX(-50%);
}

/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
body {
    scrollbar-width: none;
}

.download-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.download-button:hover{
    background-color: #0056b3;
}



body {
    background-image: url('../assets/images/space_bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    margin: 0;
    padding: 0;
}