@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/ScienceAndFiction.ttf') format('truetype'); /* Updated format to 'truetype' */
    
    /* Add additional font formats if necessary */
}

@font-face{
    font-family: 'spacefont';
    src: url('../assets/fonts/sofachrome\ rg.otf') format('openType')
}

@media only screen and (max-width: 600px) {
    /* CSS rules for screens smaller than 600px (e.g., mobile devices) */
}

@media only screen and (min-width:768px){
    section{
        margin-bottom: 30px;
    }
}

 @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/* h1{
    color: rgb(216, 216, 239);
    font-family: 'Courier New', Courier, monospace;
    animation: fadeIn 2s ease-out;
} */

p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    left: 50;
    transform: translateX(-50%);
    margin-top: 350;
}


img {
    animation: fadeIn 2s ease-out;
    width: 60%; /* Set the maximum width to 50% of the container's width */
    height: auto;
        position: absolute;
    /* display: block; */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
}  

#retro2{
    animation: fadeIn 15s ease-in;
    width: 60%;
    height: auto;
    position: absolute;
    margin-top: 300px;
    left: 50%;
    transform: translateX(-50%);
}

/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
body {
    scrollbar-width: none;
}

.download-button{
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #2a32d1, #4d53c6); /* Gradient background */
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 75px;
}

.download-button:hover{
    background-color: #0056b3;
}


.about{
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #4e54c8, #8f94fb); /* Gradient background */
    color: #fff;
    text-decoration: none;
    border: none; /* Remove border */
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 75px;
    /* left: 100;
    transform: translateX(-50%); */
}

.about:hover{
    opacity: 0.9;
}

.button-container{
    display: flex;
    justify-content: center;
}

.email-button{
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #8f94fb,#9496ba);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 75px;
}
.email-button:hover{
    opacity: 0.9;
}

.linkedin-button{
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #9496ba,#c261bf) ;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 75px;
}

.linkedin-button:hover{
    opacity: 0.9;
}

.github-button{
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #c261bf,#dd35d7) ;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 75px; 
}

.github-button:hover{
    opacity: 0.9;
}

body {
    /* background-image: url('../assets/images/space_bg2.jpg'); */
    background-image: url('../assets/images/space_bg4.gif');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    height: 120vh;
    margin: 0;
    padding: 0;
}

main{
    flex: 1;
}

footer{
    margin-top: auto;
}